.tab__navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: #f3f4f7;
}

.tab {
  cursor: pointer;
}

.tab_active {
  color: blue;
}

.tab__content {
  display: none;
  padding: 20px;
}

.tab__content..tab__content::before {
  content: url(https://png.pngtree.com/png-clipart/20230806/original/pngtree-cute-crab-cartoon-for-you-design-red-cute-crab-vector-picture-image_9873194.png);
}

..tab__content {
  display: block;
}

